
.view-dashed-circle{
    /*background-color: #00b6da;*/
}
.dashed-circle {
    width: 240px;
    height: 240px;
    transform: rotate(0deg);
    animation: 50s linear infinite;
    animation-name: dashed-circle ;

}

@keyframes dashed-circle  {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@media screen and (min-width: 728px) {
    .dashed-circle {
        width: 380px;
        height: 380px;
    }
}

@media screen and (min-width: 992px) {
    .dashed-circle {
        width: 500px;
        height: 500px;
    }
}

@media screen and (min-width: 1200px) {
    .dashed-circle {
        width: 800px;
        height: 800px;

    }
}@media screen and (min-width: 1800px) {
    .dashed-circle {
        width: 950px;
        height: 950px;

    }
}

