*{
    margin: 0;
    padding: 0;
}
.app {
    width: 100%;
    height: 100%;
    background-color: #b4b4b4;
    cursor: none;

}
.cursor{
    width: 35px;
    height: 35px;
    position:absolute ;
    z-index: 20;
    background: white;
    opacity: 0.7;
    border-radius: 50%;
}
.pointer{
    cursor: pointer;
}
@media screen and (min-width: 728px) {

}
@media screen and (min-width: 992px) {

}
@media screen and (min-width: 1200px) {

}


