.side_one {
    overflow: hidden;
    display: flex;
    flex:1;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.personal-image-one {
    width: 55%;
    object-fit: contain;
    position: relative;
    z-index: 5;
}
.circle-dashed-top-left {
    position: absolute;
    top:-15%;
    left:-10%;
}
.circle-dashed-center{
    position: absolute;
    z-index: 2;
    top:85%;
}
.o__container-circle-fourth{
    width: 110px;
    height: 110px;
    position: absolute;
    top:15%;
    right:10%;
}
.o__container-circle-one{
    width: 130px;
    height: 130px;
    position: absolute;
    top:30%;
    right:7%;
    animation: 15s running infinite;
    animation-name: circle-one ;
}

@keyframes circle-one  {

    0%{
        top:30%;
        right:7%;
    }
    25% {
        top:37%;
        right:5%;
    }
    50% {
        top:32%;
        right:3%;
    }
    75% {
        top:30%;
        right:4%;
    }
    100% {
        top:30%;
        right:7%;
    }

}
.o__container-circle-two{
    width: 50px;
    height:50px;
    position: absolute;
    bottom:10%;
    right:5%;
}
.o__container-circle-third {
    width: 15px;
    height:15px;
    position: absolute;
    bottom:18%;
    left:7%;
}
.o__container-textPart-one {
    position:absolute;
    line-height: 20px;
    width: 70px;
    height:70px;
    right: 10%;
    top: 20%;
}
.o__container-textPart-two {
    position:absolute;
    line-height: 20px;
    width: 90px;
    height:70px;
    right: 18%;
    top: 70%;
}
.a__titleTextLeftContainer{
    position: absolute;
    transition: right 4s ;
    bottom:15%;
}
.a__titleTextContainer{
    position: absolute;
    transition: left 3s ;
    top:15%;
}
@media screen and (min-width: 728px) {
    .a__titleTextLeftContainer{
        bottom:10%;
    }
    .personal-image-one {
        width: 40%;
    }
    .circle-dashed-top-left {
        position: absolute;
        top:-20%;
        left:-15%;
    }
    .circle-dashed-center{
        top:80%;
    }

.o__container-circle-one{
    width: 200px;
    height: 200px;
    top:30%;
    right:15%;
    animation: 15s running infinite;
    animation-name: circle-one-mobile ;
}
@keyframes circle-one-mobile  {

    0%{
        top:30%;
        right:15%;
    }
    25% {
        top:37%;
        right:20%;
    }
    50% {
        top:32%;
        right:10%;
    }
    75% {
        top:30%;
        right:14%;
    }
    100% {
        top:30%;
        right:15%;
    }
}
    .o__container-textPart-one {
        line-height: 30px;
        width: 70px;
        height:70px;
        right: 10%;
        top: 25%;
    }
}
@media screen and (min-width: 992px) {
    .personal-image-one {
        width: 30%;
        left:-30%;
    }
    .anim1 {
        width: 130px;
        height: 300px;
        background-color: #16444c;
        opacity: 0.4;
        top: 30%;
        animation-name: anim1;
        animation-duration: 10s;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    @keyframes anim1 {
        0% {
            top: 30%;
        }
        100% {
            animation-delay:2s;
            top: 40%;
        }
    }
    .circle-dashed-top-left {
        position: absolute;
        top:-25%;
        left:-20%;
    }
    .circle-dashed-center{
        top:70%;
    }
    .o__container-circle-one{
        top:35%;
        left:30%;
        animation: 15s running infinite;
        animation-name: circle-one-mobile ;
    }
    @keyframes circle-one-mobile  {

        0%{
            top:35%;
            left:30%;
        }
        25% {
            top:37%;
            left:27%;
        }
        50% {
            top:39%;
            left:26%;
        }
        75% {
            top:37%;
            left:27%;
        }
        100% {
            top:35%;
            left:30%;
        }

    }
    .o__container-circle-two{
        width: 70px;
        height:70px;
        bottom:30%;
        right:30%;
    }
    .o__container-textPart-one {
        line-height: 30px;
        width: 90px;
        height:90px;
        right: 12%;
        top: 30%;
    }
    .o__container-textPart-two {
        line-height: 30px;
        width: 120px;
        height:90px;
        right: 18%;
        top: 60%;
    }
}
@media screen and (min-width: 1200px) {
    .a__titleTextLeftContainer{
        bottom:3%;
    }
    .a__titleTextContainer{
        top:8%;
    }
    .o__container-circle-one{

        top:35%;
        left:30%;
        animation: 15s running infinite;
        animation-name: circle-one-mobile ;
    }
    .personal-image-one {
        width: 28%;
        left:-30%;
    }
    .circle-dashed-top-left {
        position: absolute;
        top:-70%;
        left:-20%;
    }
    .circle-dashed-center{
        top:65%;
    }
    .o__container-circle-third {
        width: 25px;
        height:25px;
        position: absolute;
        bottom:15%;
        left:7%;
    }
    .o__container-textPart-one {
        position:relative;
        width: 90px;
        height:90px;
    }
    .o__container-textPart-one {
        position:absolute;
        line-height: 30px;
        width: 90px;
        height:90px;
        right: 10%;
        top: 30%;
    }
}
@media screen and (min-width: 1800px) {
    .a__titleTextLeftContainer{
        bottom:1%;
        z-index:7 ;
    }
    .a__titleTextContainer{
        top:2%;
    }
    .circle-dashed-top-left {
        position: absolute;
        top:-80%;
        left:-15%;
    }
    .circle-dashed-center{
        top:55%;
    }
    .o__container-circle-two{
        width: 90px;
        height:90px;
        bottom:35%;
        right:28%;
    }
    .o__container-textPart-one {
        position:absolute;
        line-height: 30px;
        width: 90px;
        height:90px;
        right: 10%;
        top: 30%;
    }
}
